Repository wangyikewxgm/catalog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wangyikewxgm, @wonderflow, @FogDong, @zzxwill, @Somefive, @barnettZQG

.github/CODEOWNERS:

# This file is a github code protect rule follow the codeowners https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file

*                                  @wangyikewxgm @wonderflow

# Owner of addon fluxcd
addons/fluxcd                      @wangyikewxgm @FogDong

# Owner of addon obeservability
addons/obeservability              @zzxwill

# Owner of addon ocm
addons/ocm-cluster-manager         @Somefive

# Owner of addon terraform
addons/terraform                   @zzxwill
addons/terraform-alibaba           @zzxwill
addons/terraform-aws               @zzxwill
addons/terraform-azure             @zzxwill

# Owner of health addon velaux
addons/velaux                      @barnettZQG

Update metadata.yaml
  addons/fluxcd/metadata.yaml
Owners: @wangyikewxgm, @FogDong

Update parameter.cue
  addons/velaux/resources/parameter.cue
Owners: @barnettZQG

fix addon test ci
  test/e2e-test/hack/addon-vela-test.sh
Owners: @wangyikewxgm, @wonderflow

Update index.yaml
  index.yaml
Owners: @wangyikewxgm, @wonderflow

Add files via upload
  fluxcd-1.0.1.tgz
Owners: @wangyikewxgm, @wonderflow

Update index.yaml
  index.yaml
Owners: @wangyikewxgm, @wonderflow

Update index.yaml
  index.yaml
Owners: @wangyikewxgm, @wonderflow

fix
  autoscalertrait-0.1.0.tgz
  fluxcd-1.0.1.tgz
  helm-flux2-0.1.0.tgz
  metricstrait-0.1.0.tgz
  model-serving-1.0.1.tgz
  model-training-1.0.1.tgz
  ocm-gateway-manager-addon-1.0.1.tgz
  ocm-hub-control-plane-1.0.1.tgz
  podinfo-5.1.4.tgz
  routetrait-0.1.0.tgz
  terraform-1.0.1.tgz
  terraform-alibaba-1.0.1.tgz
  terraform-aws-1.0.1.tgz
  terraform-azure-1.0.1.tgz
  terraform-baidu-1.0.1.tgz
  terraform-gcp-1.0.1.tgz
  terraform-tencent-1.0.1.tgz
  terraform-ucloud-1.0.1.tgz
  velaux-1.0.1.tgz
Owners: @wangyikewxgm, @wonderflow

regenerate
  fluxcd-1.0.0.tgz
  fluxcd-1.0.1.tgz
  index.yaml
  model-serving-1.0.0.tgz
  model-serving-1.0.1.tgz
  model-training-1.0.0.tgz
  model-training-1.0.1.tgz
  ocm-gateway-manager-addon-1.0.1.tgz
  ocm-gateway-manager-addon-1.1.11.tgz
  ocm-hub-control-plane-0.6.0.tgz
  ocm-hub-control-plane-1.0.1.tgz
  terraform-1.0.1.tgz
  terraform-1.0.6.tgz
  terraform-alibaba-1.0.1.tgz
  terraform-aws-1.0.0.tgz
  terraform-aws-1.0.1.tgz
  terraform-azure-1.0.0.tgz
  terraform-azure-1.0.1.tgz
  terraform-baidu-1.0.0.tgz
  terraform-baidu-1.0.1.tgz
  terraform-gcp-1.0.0.tgz
  terraform-gcp-1.0.1.tgz
  terraform-tencent-1.0.0.tgz
  terraform-tencent-1.0.1.tgz
  terraform-ucloud-1.0.0.tgz
  terraform-ucloud-1.0.1.tgz
  velaux-1.0.1.tgz
  velaux-1.2.4.tgz
Owners: @wangyikewxgm, @wonderflow

fix
  fluxcd-1.0.0.tgz
  index.yaml
  model-serving-1.0.0.tgz
  model-training-1.0.0.tgz
  ocm-gateway-manager-addon-1.1.11.tgz
  ocm-hub-control-plane-0.6.0.tgz
  terraform-1.0.6.tgz
  terraform-alibaba-1.0.1.tgz
  terraform-aws-1.0.0.tgz
  terraform-azure-1.0.0.tgz
  terraform-baidu-1.0.0.tgz
  terraform-gcp-1.0.0.tgz
  terraform-tencent-1.0.0.tgz
  terraform-ucloud-1.0.0.tgz
  velaux-1.2.4.tgz
Owners: @wangyikewxgm, @wonderflow

fix
  index.yaml
  terraform-1.0.7.tgz
Owners: @wangyikewxgm, @wonderflow

fix
  fluxcd-1.0.0.tgz
  index.yaml
  model-serving-1.0.0.tgz
  model-training-1.0.0.tgz
  ocm-gateway-manager-addon-1.1.11.tgz
  ocm-hub-control-plane-0.6.0.tgz
  terraform-1.0.6.tgz
  terraform-alibaba-1.0.1.tgz
  terraform-aws-1.0.0.tgz
  terraform-azure-1.0.0.tgz
  terraform-baidu-1.0.0.tgz
  terraform-gcp-1.0.0.tgz
  terraform-tencent-1.0.0.tgz
  terraform-ucloud-1.0.0.tgz
  velaux-1.2.4.tgz
Owners: @wangyikewxgm, @wonderflow

fix
  .github/workflows/addon.yaml
Owners: @wangyikewxgm, @wonderflow

fix
  addons/terraform/metadata.yaml
  addons/terraform/resources/terraform-controller.cue
Owners: @zzxwill

fix
  .github/workflows/addon.yaml
Owners: @wangyikewxgm, @wonderflow

fix
  .github/workflows/addon.yaml
Owners: @wangyikewxgm, @wonderflow

fix
  .github/workflows/addon.yaml
  addons/terraform/metadata.yaml
  addons/terraform/resources/terraform-controller.cue
Owners: @wangyikewxgm, @wonderflow, @zzxwill

fix
  .github/workflows/addon.yaml
Owners: @wangyikewxgm, @wonderflow

fix
  addons/terraform/metadata.yaml
  addons/terraform/resources/terraform-controller.cue
Owners: @zzxwill

fix
  addons/terraform/metadata.yaml
  addons/terraform/resources/terraform-controller.cue
Owners: @zzxwill

test
  .github/workflows/addon.yaml
Owners: @wangyikewxgm, @wonderflow

test
  .github/workflows/addon.yaml
Owners: @wangyikewxgm, @wonderflow

add test
  .github/workflows/addon.yaml
Owners: @wangyikewxgm, @wonderflow

test
  addons/velaux-1.4/metadata.yaml
  addons/velaux-1.4/readme.md
  addons/velaux-1.4/readme_cn.md
  addons/velaux-1.4/resources/apiserver.cue
  addons/velaux-1.4/resources/parameter.cue
  addons/velaux-1.4/resources/velaux.cue
  addons/velaux-1.4/schemas/addon-uischema-velaux.yaml
  addons/velaux-1.4/schemas/component-uischema-k8s-objects.yaml
  addons/velaux-1.4/schemas/component-uischema-task.yaml
  addons/velaux-1.4/schemas/component-uischema-webservice.yaml
  addons/velaux-1.4/schemas/trait-uischema-scaler.yaml
  addons/velaux-1.4/schemas/trait-uischema-storage.yaml
  addons/velaux-1.4/schemas/workflowstep-uischema-deploy.yaml
  addons/velaux-1.4/schemas/workflowstep-uischema-deploy2env.yaml
  addons/velaux-1.4/schemas/workflowstep-uischema-notification.yaml
  addons/velaux-1.4/schemas/workflowstep-uischema-webhook.yaml
  addons/velaux-1.4/template.yaml
  addons/velaux-1.4/views/application-resource-detail-view.cue
  addons/velaux-1.4/views/cloud-resource-secret-view.cue
  addons/velaux-1.4/views/cloud-resource-view.cue
  addons/velaux-1.4/views/collect-logs.cue
  addons/velaux-1.4/views/component-pod-view.cue
  addons/velaux-1.4/views/pod-view.cue
  addons/velaux-1.4/views/resource-view.cue
  addons/velaux-1.4/views/service-view.cue
Owners: @wangyikewxgm, @wonderflow

test
  experimental/addons/observability/template.yaml
Owners: @wangyikewxgm, @wonderflow

add pics
  assets/addon-icon/F-addon-removebg-preview.png
  assets/addon-icon/O-addon-removebg-preview.png
  assets/addon-icon/T-addon-removebg-preview.png
Owners: @wangyikewxgm, @wonderflow

fix icon url
  experimental/addons/observability/metadata.yaml
Owners: @wangyikewxgm, @wonderflow

test changed files
  .github/workflows/addon-test.yaml
  Makefile
  go.mod
  go.sum
  test/e2e-test/addon-test/go.mod
  test/e2e-test/addon-test/go.sum
  test/e2e-test/addon-test/main.go
Owners: @wangyikewxgm, @wonderflow

fix
  test/e2e-test/addon-test/main.go
Owners: @wangyikewxgm, @wonderflow

fix
  test/e2e-test/addon-test/main.go
Owners: @wangyikewxgm, @wonderflow

fix
  test/e2e-test/addon-test/main.go
Owners: @wangyikewxgm, @wonderflow

add pending addon
  test/e2e-test/addon-test/main.go
Owners: @wangyikewxgm, @wonderflow

fix tests
  test/e2e-test/addon-test/main.go
Owners: @wangyikewxgm, @wonderflow

add commnets
  test/e2e-test/addon-test/main.go
Owners: @wangyikewxgm, @wonderflow

add test
  test/e2e-test/addon-test/main.go
Owners: @wangyikewxgm, @wonderflow

more fix
  test/e2e-test/addon-test/main.go
Owners: @wangyikewxgm, @wonderflow

add more tests
  test/e2e-test/addon-test/main.go
  test/e2e-test/addon-test/util.go
Owners: @wangyikewxgm, @wonderflow

add more tests
  test/e2e-test/addon-test/util.go
Owners: @wangyikewxgm, @wonderflow

add test utils
  test/e2e-test/addon-test/main.go
  test/e2e-test/addon-test/util.go
Owners: @wangyikewxgm, @wonderflow

add commnets
  test/e2e-test/addon-test/main.go
Owners: @wangyikewxgm, @wonderflow
